# Basic Python

## 1. Split this string

In [1]:
s = "Hi there Sam!"
print(s.split(" "))

['Hi', 'there', 'Sam!']

*`italicized text`*## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742

In [4]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} Kilometers.".format(planet,diameter))

The diameter of Earth is 12742 Kilometers.

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [24]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

# Numpy

In [19]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [6]:
import numpy as np
ar=np.zeros(10)
print(ar)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [8]:
import numpy as np
ar=np.ones(10)*5
print(ar)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [10]:
import numpy as np
ar=np.arange(20,35,2)
print(ar)

[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [11]:
x=np.arange(0,9).reshape(3,3)
print(x)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [18]:
import numpy as np
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
z=np.concatenate((a,b))
print(z)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [15]:
import pandas as pd
df=pd.DataFrame(index=[1,2,3],columns=[1,2])
print(df)

     1    2
1  NaN  NaN
2  NaN  NaN
3  NaN  NaN

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
import datatime
import pandas  as pd 
test=datatime.datetime.strptime()

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [12]:
import pandas as pd
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
df=pd.DataFrame(lists)
print(df)

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24